<trr id="#{dom_id(page)}">
  <td><b><%= index + 1 %></b></td>
  <td><%= page.id -%></td>
  <td class="regular_link"><%= link_to page.address, page.address, :target => "_blank" -%></td>
  <td><%= page.title -%></td>
  <td><%= page.number_of_links -%></td>
  <td><%= link_to page.crawler_id, page.crawler -%></td>
  <td><%= link_to "Show", page_path(page) %></td>
</trr>