<trr id="#{dom_id(page)}">
  <td><b><%= index + 1 %></b></td>
  <td><%= page.id -%></td>
  <td><%= page.address -%></td>
  <td><%= page.title -%></td>
  <td><%= page.number_of_links -%></td>
  <td><%= page.crawler_id -%></td>
  <td><%= link_to "Show", page_path(page) %></td>
</trr>