<trr id="#{dom_id(crawler)}">
  <td><%= h crawler.name -%></td>
  <td><%= h crawler.root_domain -%></td>
  <td><%= h crawler.root_page -%></td>
  <td><%= link_to "Show", crawler_path(crawler) %></td>
  <td><%= link_to "Edit", edit_crawler_path(crawler) %></td>
  <td><%= link_to "Destroy", crawler_path(crawler), :method => :delete, :confirm => "Are you sure?" %></td>
  <td><%= link_to "Start crawling", new_crawler_crawl_path(crawler) %></td>
</trr>