<column-mc:>
<%= will_paginate @crawlers %>
  <table class="generic" cellspacing="0" cellpadding="0">
      <%= table_headers "Id", "Name", "Root domain", "Root page", "Start time", "Finish time", " ", " ", " " %>

      <tbody id="crawlers_list">
      <%= render @crawlers %>
      </tbody>
    </table>
<%= will_paginate @crawlers %>

  <%= link_to "New crawler", new_crawler_path %>

</column-mc:>
