<column-mc:>

  <frame header="Crawler details">
  <ul>


    <li><label>Id</label><%= @crawler.id -%></li>
    <li><label>Name</label><%= @crawler.name -%></li>
    <li><label>Root domain</label><%= @crawler.root_domain -%></li>

  </ul>
  <%= link_to "Pages", crawler_pages_path(@crawler) %> |
  <%= link_to 'Edit', edit_crawler_path(@crawler) %> |
  <%= link_to 'Back', crawlers_path %>

  </frame>

  <% if @relation_matrix_hash %>
      <% @pages = @relation_matrix_hash.keys %>
      <frame header="Relation Matrix">
      <table class="relation_matrix" cellspacing="0" cellpadding="0">
        <tr>
          <th>\</th>
          <% @pages.each do |page| %>
              <th colspan="2" title="<%= page.address %>"><%= page.title %></th>
          <% end %>

        </tr>
        <% @relation_matrix_hash.each do |page, page_references| %>
            <tr>
              <th title="<%= page.address %>"><%= page.title %></th>
              <% @pages.each do |relative_page| %>
                  <% if (stats = page_references[relative_page.id]) and (not stats.values.sum.zero?)  %>

                      <% if !stats[:self_references].zero? and relative_page.id==page.id %>
                          <td colspan="2"><%= stats[:self_references] %></td>
                      <% else %>
                          <td>&uarr;<%= stats[:incoming_links] %></td>
                          <td>&larr;<%= stats[:outgoing_links] %></td>
                      <% end %>
                  <% else %>
                      <td colspan="2"></td>
                  <% end %>
              <% end %>
            </tr>
        <% end %>
      </table>
      </frame>
  <% end %>

  <frame header="BFS Traversal">

  <ul>
    <% @bfs_traversal.each do |node| %>
        <li><%= node %> - <%= node.number_of_links %> links (<%= node.address %>)</li>
    <% end %>

  </ul>

  </frame>


</column-mc:>




